<!DOCTYPE html>
<html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Jomhuria&display=swap" rel="stylesheet">
    <link rel="stylesheet" href= 'css/stylescabinet.css'>
    <meta charset="UTF-8" />
    <title>Title</title>
    <style>
        
    </style>
</head>
<body>
<header>
    <div class="flexbox-container">
           
        <div><button class = "item">Index Page</button></div>
        <div><button class="item">Users</button></div>
        <div><button class="item login">Log in</button></div>
    </div>
</header>
   <div class="pfp_info">
        <div class="pfp">
            <img class = picture src="pics/dmc.jpg" alt="">
        </div>
            <div class="info">
                <p class="description">oijpq,qasdglhjwolhiheoijhwioj <br></p>
                <p class="description">zxvvn ahkughoqgqoigjqpigjqpq </p>
                <p class="description">pojhfhj</p>
            </div>
    </div>
    <div class="recomended-and-filters">
<div class="filters">FILTERS</div>
        <div class="recomended">
            <div class="game"><img class="pictures" src="pics/mgsjpg.jpg" alt=""> <p class="text">Name <br>year <br>score</p></div>
            <div class="game"><img class="pictures" src="pics/dmc.jpg" alt=""> <p class="text">Name <br>year <br>score</p></div>
            <div class="game"><img class="pictures" src="pics/arkham_city.jpg" alt=""> <p class="text">Name <br>year <br>score</p></div>
            <div class="game"><img class="pictures" src="pics/mgsjpg.jpg" alt=""> <p class="text">Name <br>year <br>score</p></div> 
            <div class="game"><img class="pictures" src="pics/mgsjpg.jpg" alt=""> <p class="text">Name <br>year <br>score</p></div>
            <div class="game"><img class="pictures" src="pics/dmc.jpg" alt=""> <p class="text">Name <br>year <br>score</p></div>
        </div>
    </div>
</body>
</html>