{% extends 'html/base.html'%}
{% load static %}
{% block styles%}
<link rel="stylesheet" href= "{% static 'css/styles.css' %}">
{% endblock %}
{% block content %}
    <div class="flex-container">
        <form action = "{% url 'gamelands:search' %}" method="post">
            {% csrf_token %}
            <input class="searchbar" type="text" name="searchbar"> 
            <button class="searchbutton" type="submit" name = "search">Search</button>
        </form> 
    </div>

    <div class="recomended">
        {% for game in games %}
            <div class="game">
                <a href="{% url 'gamelands:titlepage' game.game_id %}">
                    <img class="pictures" src="{% static 'pics/'%}{{game.image}}" alt=""> 
                    <p class="text">{{game.name}} <br>{{game.year}} <br>{{game.metacritic}}</p>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
